.encabezado,.btn,.card-header{
  background: linear-gradient(rgb(126, 50, 189),rgb(99, 97, 224)) ;
}
.navbar{
  background-color: rgb(99, 97, 224);
}
.vista-pagina{
    border-radius: 4vmax;
    height: 100vh;
}
.frame{
  height: 90%;
}
.x{
    position: fixed;
    min-height: 120px;
    width: 252px;
    text-align: center;
    word-wrap: break-word;
    margin-top: 2vh;
    z-index: 2;
}
.x2{
  position: fixed;
    min-height: 120px;
    width: 252px;
    text-align: center;
    word-wrap: break-word;
    margin-top: 2vh;
    margin-left: 10vmax;
    z-index: 1;
}
.body{
  position:absolute; 
}
.f{
  border-radius: 50%;
  color: white;
}
.ediciones{
  width: 70vmin;
}
h6{
  font-size: 3vh;
}
body{
  background-color: azure;
}